<div class="card">
  <div class="row" style="padding: 25px;">

          <div class="col">
              <div class="pict-novel" style="background-color: 1px solid black; ">
                  <img src="assets/images/logo.png" style="height: 100px; width: 100px; display: block; margin: 0 auto;">
              </div>
          </div>

          <div class="col">
              <h5>{{name}}</h5>
          </div>

          <div class="col">
              <button class="btn btn-info m-r-5" style="display:block; margin: 0 auto;" (click)="addChapter()">Add chapter</button>
          </div>                        

  </div>
</div>