<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="row" style="padding: 25px;">

              <h4 class="card-title">Add chapter</h4>

              
              <form class="m-t-30"  id="formChapter" #formChapter="ngForm" (ngSubmit)="onSubmit(formChapter)">
                  <div class="form-group">
                      <label for="chapterName">Chapter name</label>
                      <input value="{{chapterName}}" required [(ngModel)]="chapterName" name="chapterName" type="text" class="form-control" id="chapterName" aria-describedby="chapterName" placeholder="Enter chapter name">
                  </div>
                  <div class="form-group">
                      <label for="chapterVolume">Chapter volume</label>
                      <input value="{{chapterVolume}}" required [(ngModel)]="chapterVolume" name="chapterVolume" type="number" class="form-control" id="chapterVolume" aria-describedby="chapterVolume" placeholder="Enter chapter volume">
                  </div>
                  <div class="form-group">
                      <label for="chapterNumber">Chapter number</label>
                      <input value="{{chapterNumber}}" required [(ngModel)]="chapterNumber" name="chapterNumber" type="number" class="form-control" id="chapterNumber" aria-describedby="chapterNumber" placeholder="Enter chapter number">
                  </div>
                  <div class="form-group">
                      <label>Chapter langue</label>
                      <select required [(ngModel)]="language" name="language" class="custom-select col-12" id="languages">
                            <option  selected >choose...</option>
                            <option  *ngFor="let item of languages"  value="{{ item }}">{{ item }}</option>
                      </select>
                  </div>

                  <label>Chapter content</label>
                  <quill-editor required [(ngModel)]="chapterContent" name="chapterContent" [style]="{height: '200px'}">{{chapterContent}}</quill-editor>

                  <!-- [disabled]="formChapter.invalid" -->
                  <button style="display: block; margin: 0 auto; margin-top: 25px; width: 50%;" type="submit" class="btn btn-info" (click)="save()">Save</button>
                  <button style="display: block; margin: 0 auto; margin-top: 25px; width: 50%;" type="submit" class="btn btn-secondary" (click)="saveQuit()" >Save & quit</button>
                  <button style="display: block; margin: 0 auto; margin-top: 25px; width: 50%;" type="button" class="btn btn-danger" (click)="open2(modal2)" >Delete chapter</button>
              </form>

            <ng-template #modal2 let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Do you really want to delete the chapter ? </h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <button style="width: 100%; display: block; margin: 0 auto;" type="button" class="btn btn-info" (click)="delete()">Yes</button>
                    <button style="width: 100%; display: block; margin: 0 auto; margin-top: 15px;" type="button" class="btn btn-secondary" (click)="c('Close click')">No</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                </div>
            </ng-template>
                                   
            </div>
        </div>
    </div>
</div>